:root{
    --main-font: 'Poppins', sans-serif;

    --green-light: #038C65;
    --green-medium: #02735E;
    --green-dark: #025959;

    --blue-medium: #012E40;
    --blue-dark: #011526;

    --gray-light: #b5b5b5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    padding: 30px 80px;
    width: 100vw;
    height: 100vh;
}

header, header .left-column, header nav, header .login{
    display: flex;
    align-items: center;
}

header{
    justify-content: space-between;
}

header .logo{
    font-size: 20px;
    font-weight: 700;
    margin-right: 40px;
}

header nav, header .login{
    gap: 20px;
}

header nav a, header .login button{
    font-size: 13px;
    color: var(--gray-light);
}

header nav a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.transparent-button{
    background-color: transparent;
    border: none;
}

.green-button{
    background-color: var(--green-light);
    color: #ffffff !important;
    border: none;
    height: 30px;
    border-radius: 15px;
}

a, li, .transparent-button, .green-button{
    transition: 0.3s all;
    cursor: pointer;
}

.green-button:hover{
    background-color: var(--green-dark);
}

a:hover, li:hover, .transparent-button:hover{
    color: var(--green-dark);
    transform: scale(1.1);
}

header .green-button{
    width: 80px;
}